%%%-------------------------------------------------------------------
%%% Created: 26 Dec 2012 by Anton I Alferov <casper@ubca-dp>
%%%-------------------------------------------------------------------

[{simple, [
	{module, simple_server},
	{states, [
		{static, {simple1, "simple state 1"}},
		{dynamic, {simple2, {state_provider, state1}}}
	]}
]}].
