%%%-------------------------------------------------------------------
%%% Created: 26 Dec 2012 by Anton I Alferov <casper@ubca-dp>
%%%-------------------------------------------------------------------

[{npool_usage, [
	{states, [
		{static, {usage1, "static state"}},
		{dynamic, {usage2, {npool_usage, state}}},
		{dynamic, {usage3, {npool_usage, state_na}}}
	]}
]}].
